{% set image = block.image.first %}
{% set order = (block.leftOrRightAlignment == 'right') ? 'order-last' : '' %}
<div class="grid gap-6 grid-cols-2 my-24" style="background-color:{{ block.backgroundColor }}">
    <div class="{{order}}">
        <h3 class="text-3xl mb-6 font-hairline">{{ block.heading }}</h3>
        <div class="text-ctaSecondary leading-relaxed">{{ block.copy }}</div>
        {% if block.linkCTA %}
            <p class="mt-8 text-center">
                <a class="buttonCTA" href="{{ block.linkCTA.url }}" title="{{ block.linkCTA.text }}">{{ block.linkCTA.text }}</a>
            </p>
        {% endif %}
    </div>
    <div>
        <img src="{{ image.url }}" alt="{{ image.title }}" />
    </div>
</div>