{% if block.entry %}
    {% macro errorList(errors) %}
        {% if errors %}
            <ul class="errors bg-blue-500">
                {% for error in errors %}
                    <li class="p-1 text-center">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endmacro %}

    {% from _self import errorList %}

    <form method="post" action="" accept-charset="UTF-8">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="contact-form/send">
        {{ redirectInput('contact/thanks.twig') }}


        {% for row in block.entry %}
            <div class="mb-7">
                <h3><label for="{{ row.fieldName }}" class="font-thin">{{ row.fieldLabel }}</label></h3>
                {% if row.fieldType == 'textarea' %}
                    <textarea class="g-input-field" id="{{ row.fieldName }}" rows="10" cols="40" name="message[{{ row.fieldName }}][]">{{ message.row.fieldName ?? '' }}</textarea>
                {% else %}
                    <input class="g-input-field" id="{{ row.fieldName }}" type="text" name="message[{{ row.fieldName }}]" value="{{ message.row.fieldName ?? '' }}">
                {% endif %}
                {{ message is defined and message ? errorList(message.getErrors(row.fieldName)) }}
            </div>

        {% endfor %}

        <div class="mb-7">
            <h3><label for="from-email" class="font-thin">Your Email</label></h3>
            <input class="g-input-field" id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
            {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
        </div>

        <h3><label for="message" class="font-thin">Message</label></h3>
        <textarea class="g-input-field" rows="10" cols="40" id="message" name="message">{{ message.message ?? '' }}</textarea>
        {{ message is defined and message ? errorList(message.getErrors('message')) }}

        <input type="submit" value="Send" class="buttonCTA">
    </form>
{% endif %}